body {
    background-color: #f0f0f0; /* Светло-серый фон */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo img {
    height: 50px;
    cursor: pointer;
}

.not-available-container {
    background-color: #ffffff; /* Белая плашка */
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 90%;
}

.not-available-title {
    font-size: 24px;
    color: #333333;
    margin-bottom: 15px;
}

.not-available-date {
    font-size: 16px;
    color: #555555;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.button {
    background-color: #a9a9a9; /* Темно-серый цвет */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    flex: 1;

    /* Новые свойства для центрирования текста */
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #8f8f8f; /* Немного темнее при наведении */
}

.button:active {
    background-color: #7e7e7e; /* Еще темнее при клике */
}